* {
  box-sizing: border-box;
}

#timeline ul {
  padding: 50px 0;

  li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;

    div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 1rem;
      background: $box-color;
      transition: all ease-in-out 0.5s;
      visibility: hidden;
      opacity: 0;
    }
  }
}

#timeline ul li {
  &:nth-child(odd) div {
    left: 40px;
    transform: translate(200px, 0);
  }

  &:nth-child(even) div {
    left: -434px;
    transform: translate(-200px, 0);
  }
}

#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: $medium-color;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}

#timeline div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

#timeline ul li {
  &:nth-child(odd) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $box-color transparent transparent;
  }

  &:nth-child(even) div:before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent $box-color;
  }
}

#timeline ul li {
  &.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  &show:after {
    background: $box-color;
  }
}
